/* Ορίζουμε στα h1, h2, h3, h4, h5, h6, p ότι θα είναι χρώμα και γραμματοσειρά */
h1, h2, h3, h4, h5, h6, p {
    color: yellow;
    font-family: 'Courgette', cursive;
}

/*Ορίζουμε το background χρώμα του σώματος */
body {
    background-color: black;
}

.jumbotron {
    background: url('/media/JT_BACKROUND.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom:0px;
}

/*Όταν περνάει ο κέρσορας απο πάνω απο ένα tag a το background θα γίνεται μαύρο*/
a:hover {
  background-color: black;
}

/* Ορίζουμε στο a χρώμα και γραμματοσειρά */
a{
    color: red;
    font-family: 'Courgette', cursive;
}

/*Εμφανίζει μόνιμα την πλαϊνή μπάρα στην σελίδα μας*/
html {
    overflow-y: scroll;
}

/*Στοιχίζει το κείμενο στο κέντρο και αφήνει ένα κενό 20px απο το πάνω στοιχείο */
div.D_align{
    text-align: center;
    padding-top: 20px;
}

/*Μηδενίζουμε τα πλαινά περιθώρια και αφήνει ένα κενό 50px απο το κάτω στοιχείο */
#MainDiv{
    margin-right:0px;
    margin-left: 0px;
    padding-bottom:50px;
}


#MainBody{
    min-height:100%;
    position:relative;
}

/*Διαμόρφωση του footer σε σταθερή θέση με κείμενο και στοίχιση στο κέντρο, πλάτος 100% της οθόνης
  και γέμισμα σκούρο πράσσινο*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkseagreen;
    text-align: center;
    justify-content: center;
    margin: 0px;
}

/*Χρώμα κειμένου παραγράφου μαύρο*/
.footer p {
    color: black;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*Πλαίσιο λίστας τραγουδιών*/
.track-para{
    margin-top: 3%;
    border: solid red;
    padding: 2%;
    background: rgba(255, 255, 255, 0.1);
}
