<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    {# Ο τίτλος της σελίδας μας#}
    <title>MusicDB</title>
    {# Εισαγωγή βιβλιοθηκών του Bootstrap και της Javascript #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    {# Εισαγωγή του δικού μας CSS #}
    <link rel="stylesheet" href="{% static 'css/music_css.css' %}">
    {# Εισαγωγή εξωτερικής γραμματοσειράς #}
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    {# Παράμετροι για την αρχηκοποίηση του Grid#}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

    <DIV id="MainBody">

        {# Επικεφαλίδα της σελίδας μας#}
        <div class="jumbotron">
            <h1><a href="/">Vinyl Database</a></h1>
            <p>When the music was carved...!!!</p>
        </div>

        {# Το βασικό σώμα της σελίδας μέσα στο οποίο καλούμε το αντίστοιχο template προς εμφάνιση#}
        <div id="MainDiv" class="container-fluid row ">

            {% block content %}
            {% endblock %}

        </div>

        {# Το κάτω μέρος της σελίδας μας (footer)#}
        <div class="footer row">
            <p>Εργασία Ανάπτυξης Λογισμικού: Παπαδόπουλος Θρ. AM:129</p>
        </div>


</body>

</DIV>

</html>